.sidebar{
    display: flex;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: black;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin-right: 40px;
    margin-top: 50px;

}